@use 'base/variables' as v;
@use 'base/mixins' as m;

.galeria {
    margin: 0 auto;
    width: 80%;
    
    h3{
        text-align: center;
    }
    &-imagenes {

        @include
        m.grid(4,1rem);
        @include
        m.mediaquery(v.$tablet) {
            @include
            m.grid(3, 1rem);
        }
        @include
        m.mediaquery(v.$telefono) {
            @include
            m.grid(1,1rem);
        }
    }

    img{
        height: 20rem;
        object-fit: cover;
    }
}

.modal {
    position: fixed;
    z-index: 1;
    inset: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    
    display: grid;
    place-items: center;

    animation: fadeIn ease-in 0.5s;
    
    &.fade-out { //Añadimos la clase fade-out para que se ejecute la animación de salida
        animation: fadeOut ease-in 0.5s;
    }

    img{
        max-width: 80rem;
    }

    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}