@use 'base/variables' as *;
@use 'base/mixins' as m;
.header {
    background-color: $granate;
    border-bottom: 0.5rem solid $marron;
    @include m.mediaquery($telefono){
        .contenido-header{
            flex-direction: column;
            h1{
                text-align: center;
            }
            .navegacion-header{
                margin-top: 2rem;
                flex-direction: column;
                a{
                    margin : 1rem 0;

                }
            }
        }
    }

    .contenido-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;

        h1{
            margin: auto 0;
            color: white;
        }
        .navegacion-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
                color: white;
                margin-left: 2rem;
            }

            a:hover{
                color: $marron;
            }
        }
    }
}




