:root{
    --bg-color: #6523e3;
    --primary-color: hsl(0, 0%, 86%);
    --secondary-color:  #5227a3;;
    --amarillo: #ffca3a;
    --gradient-azul-claro: #518de66b; ;
    --negro: #000000;

    --fuente_principal: 'Oswald', sans-serif;
    --fuente_secundaria: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/* Globales */
body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-size: 1.6rem;
    font-family: var(--fuente_principal);
    line-height: 1.5;
}

h1, h2, h3{
    text-align: center;
    color: var(--fuente_secundaria) ;
    font-family: var(--fuente_secundaria);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}


img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

/**Header**/

.header{
    display: flex;
    justify-content: center;
    
}

.header__logo{
    margin: 3rem 0;
    padding: 3rem;
}


/**Navegacion**/

.navegacion{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
}

.navegacion__enlace{
    width: 100%;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 2.2rem;
    
}

.navegacion__enlace--active, 
.navegacion__enlace:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    border-radius: 0.5rem;
}

@media (min-width: 768px) {
    .navegacion{
        margin: 0 auto;
        padding: 1rem;
        border-radius: 0.5rem;
    }
    
}

/**Main**/

.producto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
}

@media (min-width: 768px) {
    .producto{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 0.5rem;
    }
    
}

.producto__imagen{
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
}

.producto__informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
}

.producto__nombre,
.producto__precio{
    color: var(--primary-color);
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
}

.producto__nombre{
    font-size: 2.8rem;
}

.imagen{
    min-height: 20rem;
}

.imagen--remera{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.imagen--node{
    grid-column: 2/ 3;
    grid-row: 4 / 5;
}



@media (min-width: 768px) {
    .imagen--remera{
        grid-column: 1 / 3;
        grid-row:2 / 3;
    }
    
    .imagen--node{
        grid-column: 2/ 4;
        grid-row: 5 / 6;
    }
}


/**Nosotros**/

.contenedor h1{
    font-weight: bold;
    color: var(--amarillo);
    text-align: center;
}

.nosotros__grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    
}


.nosotros__texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
}

.nosotros__footer{
    grid-column: 1 / 3;    
}

.nosotros__footer h2{
    font-weight: bold;
    color: var(--amarillo);
    text-align: center;
}


.nosotros__iconos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
}

.nosotros__icono{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
}

@media (min-width: 768px) {
    .nosotros__iconos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: var(--secondary-color);
    }
    .nosotros__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 1rem;
        border-radius: 0.5rem;
    }
}

/**Productos**/

.remera{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 0 auto;
    border-radius: 0.5rem;
}

.remera__imagen{
    min-height: 20rem;
    border-radius: 0.5rem;
    margin-left: auto;
    grid-row: 1 / 3;
}

.remera__informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
}

.formulario__seleccion{
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.formulario__cantidad{
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.formulario__submit{
    background-color: var(--amarillo);
    color: var(--negro);
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
}

.formulario__submit:hover{
    cursor: pointer;
}

    

/**Footer**/

.footer{
    background-color: var(--gradient-azul-claro);
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    
}

.footer__icono{
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}