$fuente_principal: "Montserrat", sans-serif;
$negro: #333;
/* Color Theme Swatches in Hex */
$marron_oscuro: #4B444B;
$marron: #736E66;
$beige_oscuro: #D9C5AC;
$color_fondo: #F2E1C2;
$granate: #8C2C16;
